@page "/"
@using Models
@inject NavigationManager NavigationManager


<PageTitle>CRUD Application</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-md-12">
      
<h1>CRUD Application</h1>


<button class="btn btn-success" @onclick="AddNewStudent">Add Student</button>
<hr>
@if(students is null){
    <h1>Loading Data.........</h1>
}else{
    <table  class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>S.n</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Phone</td>
                <td>@student.Address</td>
                <td>
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}

      
        </div>
    </div>
</div>

@code {

    private Students[]? students;

        protected override void OnInitialized()
        {
            students = StudentData.GetStudents();
        }

        public void AddNewStudent(){
            NavigationManager.NavigateTo("/student");
        }

}